<%-  include("header")  -%>

<div style="padding-left: 20%; padding-right: 20%;">
<div class="container d-flex col-md-5" > </div>
    <div class="card-body">
    <form action="/main/editUser" method="POST">
        <div class="form-group mb-3">

            <label for="NumId" class="form-label">id</label>
            <input name="id" id="NumId" class="form-control mb-4" type="text" placeholder="Ingrese su ID" value= "<%= user.id%>" aria-label="default input example" required readonly>
        </div>

        <label for="Name"  class="form-label">Nombre</label>
             <input name="Name" id="name"  class="form-control" type="text" placeholder="Ingrese su Nombre" value= "<%= user.Name%>" aria-label="default input example" required>
        <label for="LastName" class="form-label">Apellido</label>
            <input name="Apellido" id="LastName" class="form-control" type="text" placeholder="Ingrese su apellido" value= "<%= user.Apellido%>"  aria-label="default input example" required>
        <label for="Age" class="form-label">Edad</label>
            <input name="Age" id="Age" class="form-control" type="text" placeholder="Ingrese su edad" value= "<%= user.Age%>"  aria-label="default input example" required>
        <label for="Cargo" class="form-label">Cargo</label>
            <input name="Cargo" id="Cargo" class="form-control" type="text" placeholder="Ingrese su cargo" value= "<%= user.Cargo%>"  aria-label="default input example" required>
    <br>

    <button type="submit" class="btn btn-dark">Actualizar</button>





</form>    



</div>
</div>
<%-  include("footer")  -%>